:root {
    --color_belge: #F0EABE; 
    --color_mint: #21E1E1; 
    --color_blue: #3B9AE1; 
    --color_navy: #3120E0; 
    --color_orange: #DC5F00;
    --color_pink: #F8C4B4;
    --color_yellow: #FCE700;
    --color_grey: #9E7676;
    --color_green: #9CFF2E;
    --color_lightblue: #7FBCD2;
    --color_darkblue: #3120E0;
    --color_lightgreen: #ADCE74;
    --color_lightyellow: #FFF76A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    
}

a {
    color: var(--color_blue);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    margin: .7rem;
    line-height: 1.3;

}

.container {
    width: 100%;
    height: 100vh;
    background: url("/img/bodybackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

